body {
    background-color: #151515;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container_login{
    width: 300px;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
h2 {
    color:  #FFD700;
    margin-bottom: 20px;
}
input[type="text"], input[type="password"] {
    width: calc(100% - 20px); /* Largura com padding */
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: transparent;
    color: white;
    text-align: center;
    border-bottom: 2px solid #FFD700; /* Linha embaixo do campo */
    outline: none;
    margin-bottom: 20px; /* Espaço abaixo do campo */
}
button {
    width: 100%;
    padding: 10px;
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
 button:hover {
    background-color: #ffda07e0;
}
.token-input {
    display: none;
    margin-top: 20px;
}
