body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #151515;
}

* {
    box-sizing: border-box;
    color: white;
}
.Dorado {
    color: #FFD700;
}

.Nav_Bar {
    height: 60px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1E1E1E;
    border: 1px solid #151515;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.10);
    font-size: 1.04vw;
    position: fixed;
    z-index: 1000;
}

.Nav_Bar ul {
    list-style-type: none;
    display: flex;
    align-items: center; 
    gap: 40px;
}

.Nav_Bar li {
    margin: 0;
    margin-right: 30px;
}

.Nav_Bar ul li a {
    text-decoration: none;
    font-size: 25px;
}

.Nav_Bar a:hover {
    color: #FFD700;
}

.logo {
    margin-left: 20px;
    font-size: 20px;
    transform: scale(2.5);
    transform-origin: left;
}

.user-profile {
    position: relative; 
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.user-profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.dropdown-menu {
    width: 10px;
    display: none;
    position: absolute;
    top: 106%; 
    right: 0;
    background-color: #2b2929;
    min-width: 110px;
    z-index: 1;
}
.dropdown-menu ul {
    list-style-type: none;
   
    display: block;
    padding: 0; 
    margin: 0; 
}

.dropdown-menu ul li a {
    text-align: right;
    padding: 10px;
    display: block;
    color: #f5f5f5;
    text-decoration: none;
}

.user-profile:hover .dropdown-menu {
    display: block; /* Exibe o dropdown ao passar o mouse */
}





.search-pesqui{
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 5px;
    width: 600px;
    margin-left: 15vw;
 
  }

.search-input {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    flex-grow: 1;
}
  
.search-input::placeholder {
    color: #ccc;
}
  

.search-icon {
    background: transparent;
    border: none;
    cursor: pointer;
    transform: scaleX(-1); 
    padding: 0;
}
  
.search-icon img {
    width: 24px;
    height: 24px;
}

.base-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: black;
    width: 100%; /* Ocupa todo o comprimento */
}
.animation_bar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #DAA520;
    width: 0;
    animation: loadBar 2s ease-out forwards;
}
  
@keyframes loadBar {
0% {
    width: 0;
}
100% {
    width: 89%; 
}
}

main-produto{
    height: 100%;
    width: 100%;
}

.content-pg-Produto{
    height: 60%;
    margin-top: 67px;
    margin-bottom: 5px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.produto-descri{
    width: 50%;
    text-align: justify;
    margin-left: 100px;
    margin-right: 200px;
}
.produto-descri p{
    width: 300px;
}
.produto-descri img{
    width: 300px;
    height: 300px; 
}
.produto-info{
    margin-top: 35px;
    width: 30%;
}
.button-submit{
    width: 300px;
    display: block;
    margin: 0;
}
.button-submit button{
    width: 300px;
    height: 35px;
    margin-bottom: 10px;
    background-color: #2e2e2e;
    border: 0;
    cursor: pointer;
}
.button-submit button:hover{
    background-color: #FFD700;
    
}
.carousel-proprock {
    height: 200px;
    width: 100%;
    position: relative;
}

.carousel-prock {
    display: flex;
    gap: 20px;
    animation: slide 30s linear infinite;
}

.item-carousel-roll img {
    width: 158px;
    height: 157px;
}


@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Para quando o mouse passar por cima */
.carousel-proprock:hover .carousel-prock {
    animation-play-state: paused;
}
